<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fossil Watch Store - Men's Analog Watches</title>
    <link rel="stylesheet" href="css/mens_analog.css">
    <link rel="icon" href="images/logo.jpg" type="image/icon type">
</head>
<body>

<!--nav-bar-->
    <div class="nav-bar">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    Fossil
                </div>
                <ul class="nav-items">
                    <li style="margin-right: 0px;">
                        <img style="width: 25px; height: 25px;" src="images/person.svg" alt="Username">
                    </li>
                    <li>
                         <a href="#">{{user}}</a>
                    </li>
                    <li>
                        <a href="orders">Orders</a>
                    </li>
                    <li style="margin-right: 0px;">
                        <img style="width: 25px; height: 25px; margin-top: 5px;"  src="images/shopping_cart.svg" alt="cart">
                    </li>
                    <li class="cart">
                        <a style="  margin-right: 0px;" href="cart ">Cart</a><span class="number">0</span>
                    </li>
                    <li style="margin-right: 0px;">
                        <img style="width: 30px; height: 30px; margin-top: 5px;" src="images/Signout.svg" alt="Sign out">
                    </li>
                    <li style="margin-right: 20px;" > 
                         <a href="signin">Sign out</a>
                    </li>
                </ul>                
            </nav>
        </div>
    </div>

<!--header-->
    <div class="header">
        <div class="header-wrapper">
            <nav1>
                <ul class="header-items">
                    <li>
                        <a href="after_login">Home</a>
                    </li>
                    <li>
                        <a style="color: red; font-size: 30px; text-align: center;" href="analog_watches">Analog Watches</a>
                    </li>
                    <li>
                        <a href="smart_watches">Smart Watches</a>
                    </li>
                </ul> 
                <input style="background-image: url('images/search.svg'); background-position: 5px; background-repeat: no-repeat; 
                    background-size: 30px 20px;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search here..">

                    <ul id="myUL">
                    <li><a href="#">Fossil Analog Black Dial Men's Watch-BQ2310</a></li>

                    <li><a href="#">Fossil Townsman Analog Black Dial Men's Watch</a></li>

                    <li><a href="#">Fossil BQ1126 Flynn Analog Men’s Watch</a></li>
                    </ul> 
            </nav1>
        </div>
    </div>

<!--filter-->
    <div class="filter">
        <h1>Men's Watches</h1>
        <select onchange="location = this.options[this.selectedIndex].value;">
            <option value="mens_analog">Mens Watches</option>
            <option value="womens_analog">Womens Watches</option>
            <option value="analog_watches">All Products</option>
        </select>
    </div>

<!--products-->
    <section id="container">
        <div class="box-container">
        <div class="box">
            <img src="images/analog1.png" class="img">
            <h2>Fossil Analog Black Dial Mens Watch-BQ2310</h2>
            <ul>
                <li style="margin-right: 5px;">₹</li>
                <li>5749</li>
            </ul>
            
        </div>
        <div class="product">
            <ul>
                <li style="margin-right: 15px;">Add to Cart</li>
                <li>Buy Now</li>
            </ul>
        </div>
    </div>


    <div class="box-container">

        <div class="box">
            <img src="images/analog2.png" class="img">
            <h2>Fossil BQ1126 Flynn Analog Mens Watch</h2>
            <ul>
                <li style="margin-right: 5px;">₹</li>
                <li>8097</li>
            </ul>
            
        </div>
        <div class="product">
            <ul>
                <li style="margin-right: 15px;">Add to Cart</li>
                <li>Buy Now</li>
            </ul>
        </div>
    </div>


        <div class="box-container">

        <div class="box">
            <img src="images/analog3.png" class="img">
            <h2>Fossil Townsman Analog Black Dial Mens Watch</h2>
            <ul>
                <li style="margin-right: 5px;">₹</li>
                <li>10995</li>
            </ul>
            
        </div>
        <div class="product">
            <ul>
                <li style="margin-right: 15px;">Add to Cart</li>
                <li>Buy Now</li>
            </ul>
        </div>
    </div>

    <div class="box-container">
        <div class="box">
            <img src="images/analog1.png" class="img">
            <h2>Fossil Analog Black Dial Mens Watch-BQ2310</h2>
            <ul>
                <li style="margin-right: 5px;">₹</li>
                <li>5749</li>
            </ul>
            
        </div>
        <div class="product">
            <ul>
                <li style="margin-right: 15px;">Add to Cart</li>
                <li>Buy Now</li>
            </ul>
        </div>
    </div>


</section>


<!--fotter-->
<footer class="footer">
    <div class="container1">
        <div class="row">
            <div class="footer-col1">
                <h3>Stay Connected</h3>
    <form class="news-letter">
        <input type="text" placeholder="Enter Email Address">
        <button>Submit</button>
    </form> 

    <pre>
By subscribing to our newsletter you agree to our 
privacy policy. * (restrictions and exclusions apply)
    </pre>
   <!--
    <ul>
        <li><a href="https://www.facebook.com/Fossil.IN/" target="_blank"><img src="images/Facebook Icon.svg" alt="facebook"></a></li>
        <li><a href="https://twitter.com/fossil" target="_blank"><img src="images/twitter.svg" alt="twitter"></a></li>
        <li><a href="https://www.instagram.com/fossil.in/" target="_blank"><img src="images/insta.svg" alt="instagram"></a></li>
        <li><a href="https://www.youtube.com/fossil" target="_blank"><img src="images/youtube.svg" alt="youtube"></a></li>
    </ul>
    --> 

            </div>

            <div class="footer-mid">
                <h5>Social Media</h5>
                <ul>
                    <li><a href="https://www.facebook.com/Fossil.IN/" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/fossil" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/fossil.in/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.youtube.com/fossil" target="_blank">Youtube</a></li>
                </ul>
            </div>

            <div class="footer-col2">
                <h4>Contact us</h4>
        <p><img style="width: 40px; height: 30px;" src="images/Gmail Icon.svg" alt="gmail"> <span style="margin-left: 20px;">customercare.in@fossil.com</span></p>

        <p><img style="width: 40px; height: 40px;" src="images/Telephone1.svg" alt="telephone"> <span style="margin-left: 20px;">0008009190951</span></p>

<pre>
For Order related queries :
(Order Status, Return, Refund, General queries
& Warranty Claim)
            
Hours: Monday - Sunday : 10:00am - 7:00pm
(Excluding Public Holidays)
</pre>                 
            </div>
        </div>
    </div>

</footer>

    <script>
        myFunction()
        function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');
        
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1 && filter.length != 0) {
                li[i].style.display = "";
                } else {
                li[i].style.display = "none";
                }
            }
        }
    </script>

<script src="js/analog.js"></script>

</body>
</html>