<div class="nav-bar">
    <div class="wrapper">
        <nav>
            <div class="logo">
                Fossil
            </div>
            <ul class="nav-items">
                <li>
                        <a href="index">Home</a>
                </li>
                <li>
                    <a href="./signin">Sign in</a>
                </li>
            </ul>                
        </nav>
    </div>
</div>